<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Li Hang's CV</title>
		<meta chartset="utf-8">
		<meta name="description" content="a resume">
   		<meta name="author" content="lihang">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/blue.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/fa/css/font-awesome.css" rel="stylesheet">
		<link href="/css/preloader.css" rel="stylesheet">
		<link href="/css/animate.css" rel="stylesheet">
		<link href="/css/morphext.css" rel="stylesheet">
		<link href="/css/font.css" rel="stylesheet">
		<link href="/css/bootstrap.css.map" rel="stylesheet">
		<link href="/css/baiduMap.css" rel="stylesheet">
	</head>
	<body>
		<!-- preLoad begin -->
		<div class="preloader" style="display: none;">
			<div class="spinner"></div>
		</div>
		<div class="preloader-left slide-left"></div>
		<div class="preloader-right slide-right"></div>
		<!-- preload end -->
		<!-- main begin -->
		<div id="main-container">
			<!-- profile begin -->
			<div id="profile">
				<div id="top-profile" class="expand add-expand">
					<h1>简介</h1>
					<img class="small-image icon icon-left fa" src="/img/pro-pic.jpg" alt="Mobile Profile">
				</div>
				<div class="main-content-profile">
					<div class="close-icon-container">
						<a href="#top-profile" class="close-icon expand-profile"></a>
					</div>
					<div class="summary">
						<img class="big-image" src="/img/pro-pic.jpg" alt="Profile Picture">
						<a href="/">
							<img class="logo" src="/img/lihang-logo.png" alt="lihang Logo">
						</a>
						<div class="occupation morphext">
							<span class="">前端开发,游戏爱好,乐于分享</span>
						</div>
					</div>
					<p class="hi">
						<span class="dropcap">Hi</span>
						<span class="detail"></span>
					</p>
					<div class="button">
						<a href="#" class="download">
							DownLoad CV &nbsp
							<span class="fa icon-download-alt">
							</span>
						</a>
					</div>
					<div class="social-container">
						<ul class="social">
							<li>
								<a href="#" class="fa icon-facebook">
								</a>
							</li>
							<li>
								<a href="https://github.com/lihang1870719" class="fa icon-github">
								</a>
							</li>
							<li>
								<a href="https://plus.google.com/" class="fa icon-google-plus">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- profile begin -->
			<!-- features begin -->
			<div id="features">
				<!-- resume begin -->
				<div id="resume">
					<div id="top-resume" class="expand add-expand">
						<h1>教育背景</h1>
						<div class="detail">View My exprience</div>
						<div class="icon icon-left fa icon-file-alt"></div>
					</div>
					<div class="main-content">
						<a href="#top-resume" class="close-icon expand"></a>
						<h1 class="title">教育背景</h1>
						<div class="row">
							<div class="col-md-6">
								<div id="timeline">
									<div class="timeline-item">
										<div class="briefcase fa fa-briefcase"></div>
										<div class="job">
											<h2 class="job-title">武汉大学 <span>- 工学学士</span></h2>
											<h3 class="college">国际软件学院 - 软件工程</h3>
											<h3 class="year">2010 - 2014</h3>
											<div class="job-detail">
												<p>主修课程： 数据结构，操作系统，计算机组成原理，计算机网络等</p>
												<p>获奖情况：</p> 
												<ul>
													<li>2012-2013年度武汉大学乙等奖学金</li>
													<li>2012-2013年度武汉大学三好学生</li>
													<li>2012.6 亚太大学生机器人大赛国内选拔赛全国二等奖</li>
												</ul>	
											</div>
										</div>
									</div>
									<div class="timeline-item">
										<div class="briefcase fa fa-briefcase"></div>
										<div class="job">
											<h2 class="job-title">武汉大学 <span>- 工学硕士在读</span></h2>
											<h3 class="college">国际软件学院 - 软件工程</h3>
											<h3 class="year">2014 - 2016</h3>
											<div class="job-detail">
												主修课程：数据库，软件过程管理，项目管理，面向对象分析与设计等
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div id="skills">
									<h2 class="title">我的技能</h2>
									<div class="skill-item">
										<h3 class="skill-title">JavaScript</h3>
										<div class="skill-bar-bg" data-percent="90">
											<div class="skill-bar" style="width: 90%;"></div>
										</div>
									</div>
									<div class="skill-item">
										<h3 class="skill-title">Html/Css</h3>
										<div class="skill-bar-bg" data-percent="80">
											<div class="skill-bar" style="width: 80%;"></div>
										</div>
									</div>
									<div class="skill-item">
										<h3 class="skill-title">Http</h3>
										<div class="skill-bar-bg" data-percent="70">
											<div class="skill-bar" style="width: 70%;"></div>
										</div>
									</div>
									<div class="skill-item">
										<h3 class="skill-title">Nodejs</h3>
										<div class="skill-bar-bg" data-percent="70">
											<div class="skill-bar" style="width: 70%;"></div>
										</div>
									</div>
									<div class="skill-item">
										<h3 class="skill-title">mysql</h3>
										<div class="skill-bar-bg" data-percent="60">
											<div class="skill-bar" style="width: 60%;"></div>
										</div>
									</div>
									<div class="skill-item">
										<h3 class="skill-title">Java</h3>
										<div class="skill-bar-bg" data-percent="50">
											<div class="skill-bar" style="width: 50%;"></div>
										</div>
									</div>
									<div class="skill-item">
										<h3 class="skill-title">Angularjs</h3>
										<div class="skill-bar-bg" data-percent="30">
											<div class="skill-bar" style="width: 30%;"></div>
										</div>
									</div>
									
								</div>
								<div id="testimonials"></div>
							</div>
						</div>
						<!--row end -->
					</div>
					<!-- main-content end-->
				</div>
				<!-- resume end -->
				<!-- profolio begin -->
				<div id="project">
					<div id="top-project" class="expand add-expand" style="display: block;">
						<h1>项目实习经历</h1>
						<div class="detail">Watch My Works</div>
						<div class="icon icon-left fa icon-briefcase"></div>
					</div>
					<div class="main-content">
						<a href="#top-project" class="close-icon expand"></a>
						<h1 class="title">项目实习经历</h1>
						<div class="project-row row">
							<div id="project-list-container" class="col-md-12">

								<div class="col-md-4">
									<div class="project-item">
										<a class="overlay" href="./views/project1">
											<h1>Read More</h1>
										</a>
										<img src="/img/project/1_1.png" alt="Blog thumbnail">
										<div class="detail row">
												<div class="date">
													<span class="fa icon-time"></span>
													<span>2015.1 - 2015.4</span>
												</div>
												<div class="classifiction">
													<span class="fa icon-tag"></span>
													<span>实习</span>
												</div>
											<div class="project-title">武汉快云信息科技有限公司</div>					
										</div>
									</div>
								</div>	

								<div class="col-md-4">
									<div class="project-item">
										<a class="overlay" href="./views/project2">
											<h1>Read More</h1>
										</a>
										<img src="/img/project/2_1.jpg" alt="Blog thumbnail">
										<div class="detail row">
											<div class="date">
												<span class="fa icon-time"></span>
												<span>2013.11 - 2014.1</span>
											</div>
											<div class="classifiction">
												<span class="fa icon-tag"></span>
												<span>实习</span>
											</div>
											<div class="project-title">UC优视</div>

										</div>
									</div>
								</div>	

								<div class="col-md-4">
									<div class="project-item">
										<a class="overlay" href="./views/project3">
											<h1>Read More</h1>
										</a>
										<img src="/img/project/3_1.png" alt="Blog thumbnail">
										<div class="detail row">
											<div class="date">
												<span class="fa icon-time"></span>
												<span>2013.12 - 2014.4</span>
											</div>
											<div class="classifiction">
												<span class="fa icon-tag"></span>
												<span>项目</span>
											</div>
											<div class="project-title">无线局域网入侵检测系统</div>

										</div>
									</div>
								</div>	

								<div class="col-md-4">
									<div class="project-item">
										<a class="overlay" href="./views/project4">
											<h1>Read More</h1>
										</a>
										<img src="/img/project/4_1.jpg" alt="Blog thumbnail">
										<div class="detail row">
											<div class="date">
												<span class="fa icon-time"></span>
												<span>2014.11 - 2014.12</span>
											</div>
											<div class="classifiction">
												<span class="fa icon-tag"></span>
												<span>项目</span>
											</div>
											<div class="project-title">空间信息技术系网站</div>

										</div>
									</div>
								</div>	

								<div class="col-md-4">
									<div class="project-item">
										<a class="overlay" href="./views/project5">
											<h1>Read More</h1>
										</a>
										<img src="/img/project/5_1.jpg" alt="Blog thumbnail">
										<div class="detail row">
											<div class="date">
												<span class="fa icon-time"></span>
												<span>2012.10 - 2013.6</span>
											</div>
											<div class="classifiction">
												<span class="fa icon-tag"></span>
												<span>竞赛</span>
											</div>
											<div class="project-title">亚太大学生机器人大赛</div>

										</div>
									</div>
								</div>	

								<div class="col-md-4">
									<div class="project-item">
										<a class="overlay" href="./views/project6">
											<h1>Read More</h1>
										</a>
										<img src="/img/project/6_1.png" alt="Blog thumbnail">
										<div class="detail row">
											<div class="date">
												<span class="fa icon-time"></span>
												<span>2012.7 - 2012.8</span>
											</div>
											<div class="classifiction">
												<span class="fa icon-tag"></span>
												<span>项目</span>
											</div>
											<div class="project-title">Imovie电影购票网站</div>

										</div>
									</div>
								</div>	

							</div>
						</div>
					</div>
				</div>
				<!-- profolio end -->
				<!-- blog begin -->
				<div id="blog">
					<div id="top-blog" class="expand add-expand">
						<h1>博客</h1>
						<div class="detail">Read My Thoughts</div>
						<div class="icon icon-left fa icon-pencil"></div>
					</div>
					<div class="main-content">
						<a href="#top-blog" class="close-icon expand"></a>
						<h1 class="title">我最近的博客</h1>
						<div class="blog-row row">
							<div id="blog-list-container" class="col-md-12">

								<!-- begin #blog-item -->
								<div class="col-md-5">
									<div class="blog-item">
										<a class="overlay" href="https://github.com/lihang1870719/patent">
											<h1>Read More</h1>
										</a>
										<img src="/img/blog/1.png" alt="Blog thumbnail">
										<div class="detail row">
											<div class="date">
												<span>18</span>
												<span>April</span>
											</div>
											<div class="blog-title">专利分析</div>
										</div>
									</div>
								</div>
								<!-- end #blog-item -->

								<!-- begin #blog-item -->
								<div class="col-md-5">
									<div class="blog-item">
										<a class="overlay" href="https://github.com/lihang1870719/doudingCrawler">
											<h1>Read More</h1>
										</a>
										<img src="/img/blog/2.png" alt="Blog thumbnail">
										<div class="detail row">
											<div class="date">
												<span>22</span>
												<span>Match</span>
											</div>
											<div class="blog-title">nodejs爬虫</div>
										</div>
									</div>
								</div>
								<!-- end #blog-item -->

								<!-- begin #blog-item -->
								<div class="col-md-5">
									<div class="blog-item">
										<a class="overlay" href="https://github.com/lihang1870719/uploadFileToQiniu">
											<h1>Read More</h1>
										</a>
										<img src="/img/blog/3.png" alt="Blog thumbnail">
										<div class="detail row">
											<div class="date">
												<span>28</span>
												<span>April</span>
											</div>
											<div class="blog-title">Docq文档小助手</div>
										</div>
									</div>
								</div>
								<!-- end #blog-item -->

								<!-- begin #blog-item -->
								<div class="col-md-5">
									<div class="blog-item">
										<a class="overlay" href="http://docq.cn/ERX5ZW">
											<h1>Read More</h1>
										</a>
										<img src="/img/blog/4.png" alt="Blog thumbnail">
										<div class="detail row">
											<div class="date">
												<span>2</span>
												<span>April</span>
											</div>
											<div class="blog-title">Http学习笔记</div>
										</div>
									</div>
								</div>
								<!-- end #blog-item -->
							</div>
						</div>
					</div>
				</div>
				<!-- blog end -->
				<!-- contact begin -->
				<div id="contact">
					<div id="top-contact" class="expand add-expand">	
						<h1>联系我</h1>
						<div class="detail">Get in Touch</div>
						<div class="icon icon-left fa icon-envelope"></div>
					</div>
					<div class="main-content">
						<a href="#top-contact" class="close-icon expand"></a>
						<h1 class="title">联系我</h1>
						<div class="row">
							<div class="col-md-6">
								<h2 class="title">我在这里</h2>
								<section id="cd-baidu-map">
									<div id="baidu-container"></div>
									<div id="cd-zoom-in"></div>
									<div id="cd-zoom-out"></div>
									<address>湖北省武汉市珞喻路39号</address>
								</section>
								<ul class="list">
									<li>
										<div class="icon fa icon-map-marker"></div>
										湖北省武汉市珞喻路39号
									</li>
									<li>
										<div class="icon fa icon-envelope"></div>
										1157995231@qq.com
									</li>
									<li>
										<div class="icon fa icon-phone"></div>
										18707193900
									</li>
								</ul>
							</div>
							<div class="col-md-5">
								<h2 class="title">给我捎一句话吧</h2>
								<form id="contact-form" action="email" method="POST" novalidate="novalidate">
									<input type="text" name="subject" placeholder="Subject" class="placeholder">
									<input type="text" name="name" placeholder="Name" class="placeholder">
									<input type="email" name="email" placeholder="Email" class="placeholder">
									<textarea name="message" placeholder="What to tell?" class="placeholder"></textarea>
									<input id="send" type="submit" value="Send Message">
									<input type="hidden" name="submitted" value="true">
									<div class="words contact-notification">Your message has been sent</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- contact end -->
			</div>
			<!-- features end -->
		</div>
		<!-- main end -->
		<!-- Javascript files -->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/vendor/fastclick.js"></script>
		<script type="text/javascript" src="/js/vendor/jquery.validate.js"></script>
		<script type="text/javascript" src="/js/vendor/jquery.typer.js"></script>
		<script type="text/javascript" src="/js/vendor/morphext.js"></script>
		<script type="text/javascript" src="/js/smoothScrolls.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=o6IqlVZblhGB6c1pZfZE0G0V"></script>
		<script type="text/javascript" src="/js/baiduMap.js"></script>
	</body>
</html>