<html>
	<head>
		<title>Li Hang's CV</title>
		<meta charset="utf-8">
	    <meta name="description" content="Project">
	    <meta name="author" content="lihang">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" type="text/css" href="/css/blue.css">
	    <link rel="stylesheet" type="text/css" href="/css/preloader.css">
	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="/css/animate.css">
	    <link rel="stylesheet" type="text/css" href="/fa/css/font-awesome.css">
	</head
	<body>

		<!-- preloader begin-->
	    <div class="preloader">
	    	<div class="spinner"></div>
	    </div>
	    <div class="preloader-left"></div>
	    <div class="preloader-right"></div>
	    <!-- preloader end-->

		<!-- begin #main-container -->
		<div id="main-container">
			<!-- begin #profile -->
			<div id="profile">
				<div id="top-profile" class="expand add-expand">
					<h1>Profile</h1>
					<img class="small-image icon icon-left fa" src="/img/pro-pic.jpg" alt="Mobile Profile">
				</div>
				<div class="main-content-profile">
					<div class="close-icon-container">
						<a href="#top-profile" class="close-icon expand-profile"></a>
					</div>
					<div class="summary">
						<img class="big-image" src="/img/pro-pic.jpg" alt="Profile Picture">
						<a href="/">
							<img class="logo" src="/img/lihang-logo.png" alt="lihang Logo">
						</a>
						<div class="occupation morphext">
							<span class="">前端开发,游戏爱好,乐于分享</span>
						</div>
					</div>
					<p class="hi">
						<span class="dropcap">Hi</span>
						<span class="detail">我的名字叫李航，来自湖北荆州，是一个乐观的90后，性格上自信而不自傲，学习上坚持不懈，做事情有目标，喜欢研究新的技术，最近在学习ng与node</span>
					</p>
					<div class="button">
						<a href="#" class="download">
							DownLoad CV &nbsp
							<span class="fa icon-download-alt">
							</span>
						</a>
					</div>
					<div class="social-container">
						<ul class="social">
							<li>
								<a href="#" class="fa icon-facebook">
								</a>
							</li>
							<li>
								<a href="#" class="fa icon-github">
								</a>
							</li>
							<li>
								<a href="#" class="fa icon-twitter">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end #profile -->

			<!-- begin #blog-post -->
			<div id="project-detail">
				<div class="main-content">
					<a href="/" class="close-icon expand"></a>
					<div class="row">
						<div class="col-md-12">
							<h1 class="title">空间与信息技术系网站</h1>
							<div class="project-time">
								<span class="fa icon-time"></span>
								<span class="detail">2014.11 - 2014.12</span>
								<span class="fa icon-tag"></span>
								<span class="detail">项目</span>
								<span class="fa icon-user"></span>
								<span class="detail">nodejs开发</span>
							</div>
							<img class="project-img col-md-12" src="/img/project/4_2.png" alt="Blog Image">
							<div class="project-content-left col-md-6">
								<div class="snap">项目基本情况</div>
								<div class="detail">
									本项目是空间信息与技术系网站，主要要求是响应式页面。
								</div>
							</div>
							<div class="project-content-right col-md-6">
								<div class="snap">职责</div>
								<div class="detail">
									<ul>
										<li>nodejs+express架构进行网站的后台开发</li>
										<li>mysql数据库的建表与crud操作</li>
										<li>利用ejs对网站模板进行重构</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end #blog-post -->

		</div>
		<!-- end #main-container -->

		<!-- JavaScript Files -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/prefixfree.min.js"></script>
		<script src="/js/vendor/jquery.validate.js"></script>
		<script src="/js/vendor/fastclick.js"></script> 
		<script src="/js/vendor/morphext.js"></script>
		<script src="/js/smoothScrolls.js"></script>
		<script src="/js/project-detail.js"></script>

	</body>
</html>