<html>
	<head>
		<title>Katya - Blog Post</title>
		<meta charset="utf-8">
	    <meta name="description" content="Responsive Creative CV Template">
	    <meta name="author" content="balapa">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" type="text/css" href="css/blue.css">
	    <link rel="stylesheet" type="text/css" href="css/preloader.css">
	    <link rel="stylesheet" type="text/css" href="css/style.css">
	    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="css/animate.css">
	    <link rel="stylesheet" type="text/css" href="fa/css/font-awesome.css">
	</head>
	<body>

		<!-- preloader begin-->
	    <div class="preloader">
	    	<div class="spinner"></div>
	    </div>
	    <div class="preloader-left"></div>
	    <div class="preloader-right"></div>
	    <!-- preloader end-->

		<!-- begin #main-container -->
		<div id="main-container">
			<!-- begin #profile -->
			<div id="profile">
				<div id="top-profile" class="expand add-expand">
					<h1>Profile</h1>
					<img class="small-image icon icon-left fa" src="img/pro-pic.jpg" alt="Mobile Profile">
				</div>
				<div class="main-content-profile">
					<div class="close-icon-container">
						<a href="#top-profile" class="close-icon expand-profile"></a>
					</div>
					<div class="summary">
						<img class="big-image" src="img/pro-pic.jpg" alt="Profile Picture">
						<a href="index.html">
							<img class="logo" src="img/lihang-logo.png" alt="lihang Logo">
						</a>
						<div class="occupation morphext">
							<span class="">前端开发,游戏爱好,乐于分享</span>
						</div>
					</div>
					<p class="hi">
						<span class="dropcap">Hi</span>
						<span class="detail">我的名字叫李航，来自湖北荆州，是一个乐观的90后，性格上自信而不自傲，学习上坚持不懈，做事情有目标，喜欢研究新的技术，最近在学习ng与node</span>
					</p>
					<div class="button">
						<a href="#" class="download">
							DownLoad CV &nbsp
							<span class="fa icon-download-alt">
							</span>
						</a>
					</div>
					<div class="social-container">
						<ul class="social">
							<li>
								<a href="#" class="fa icon-facebook">
								</a>
							</li>
							<li>
								<a href="#" class="fa icon-github">
								</a>
							</li>
							<li>
								<a href="#" class="fa icon-twitter">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end #profile -->

			<!-- begin #blog-post -->
			<div id="project-detail">
				<div class="main-content">
					<a href="index.html" class="close-icon expand"></a>
					<div class="row">
						<div class="col-md-10">
							<h1 class="title">20 things i learn as developer</h1>
							<div class="project-time">
								<span class="fa icon-clock-o"></span>
								<span class="detail">18 May, 2014</span>
								<span class="fa icon-heart"></span>
								<span class="detail">52</span>
								<span class="fa icon-comments-o"></span>
								<span class="detail">10</span>
								<span class="fa icon-user"></span>
								<span class="detail">Katya Lischina</span>
							</div>
							<img class="project-img" src="img/blog/1.jpg" alt="Blog Image">
							<div class="project-content">
								<div class="dropcap">Well</div>
								<div class="detail">
									I think anything lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
							<div class="quotes">
								Just because Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
								<div class="quoter-container">
									<div class="quoter">Quoter Name</div>
								</div>
							</div>
							<div class="project-content">
								<div class="detail">
									Based on my research at lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end #blog-post -->

		</div>
		<!-- end #main-container -->

		<!-- JavaScript Files -->
		<script src="js/jquery.min.js"></script>
		<script src="js/prefixfree.min.js"></script>
		<script src="js/vendor/jquery.validate.js"></script>
		<script src="js/vendor/fastclick.js"></script> 
		<script src="js/vendor/morphext.js"></script>
		<script src="js/smoothScrolls.js"></script>
		<script src="js/project-detail.js"></script>

	</body>
</html>