<html>
	<head>
		<title>Li Hang's CV</title>
		<meta charset="utf-8">
	    <meta name="description" content="Project">
	    <meta name="author" content="lihang">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" type="text/css" href="/css/blue.css">
	    <link rel="stylesheet" type="text/css" href="/css/preloader.css">
	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="/css/animate.css">
	    <link rel="stylesheet" type="text/css" href="/fa/css/font-awesome.css">
	</head>
	<body>

		<!-- preloader begin-->
	    <div class="preloader">
	    	<div class="spinner"></div>
	    </div>
	    <div class="preloader-left"></div>
	    <div class="preloader-right"></div>
	    <!-- preloader end-->

		<!-- begin #main-container -->
		<div id="main-container">
			<!-- begin #profile -->
			<div id="profile">
				<div id="top-profile" class="expand add-expand">
					<h1>Profile</h1>
					<img class="small-image icon icon-left fa" src="/img/pro-pic.jpg" alt="Mobile Profile">
				</div>
				<div class="main-content-profile">
					<div class="close-icon-container">
						<a href="#top-profile" class="close-icon expand-profile"></a>
					</div>
					<div class="summary">
						<img class="big-image" src="/img/pro-pic.jpg" alt="Profile Picture">
						<a href="/">
							<img class="logo" src="/img/lihang-logo.png" alt="lihang Logo">
						</a>
						<div class="occupation morphext">
							<span class="">前端开发,游戏爱好,乐于分享</span>
						</div>
					</div>
					<p class="hi">
						<span class="dropcap">Hi</span>
						<span class="detail">我的名字叫李航，来自湖北荆州，是一个乐观的90后，性格上自信而不自傲，学习上坚持不懈，做事情有目标，喜欢研究新的技术，最近在学习ng与node</span>
					</p>
					<div class="button">
						<a href="#" class="download">
							DownLoad CV &nbsp
							<span class="fa icon-download-alt">
							</span>
						</a>
					</div>
					<div class="social-container">
						<ul class="social">
							<li>
								<a href="#" class="fa icon-facebook">
								</a>
							</li>
							<li>
								<a href="#" class="fa icon-github">
								</a>
							</li>
							<li>
								<a href="#" class="fa icon-twitter">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end #profile -->

			<!-- begin #blog-post -->
			<div id="project-detail">
				<div class="main-content">
					<a href="/" class="close-icon expand"></a>
					<div class="row">
						<div class="col-md-12">
							<h1 class="title">UC优视</h1>
							<div class="project-time">
								<span class="fa icon-time"></span>
								<span class="detail">2013.11 - 2014.1</span>
								<span class="fa icon-tag"></span>
								<span class="detail">实习</span>
								<span class="fa icon-user"></span>
								<span class="detail">手机软件编辑</span>
							</div>
							<img class="project-img col-md-12" src="/img/project/2_2.png" alt="Blog Image">
							<div class="project-content-left col-md-6">
								<div class="snap">公司基本情况</div>
								<div class="detail">
									UC优视是全球领先的移动互联网软件技术及应用服务提供商。自2004年创立以来，以技术为本，公司致力于帮助手机用户快捷上网，构建开放的一站式移动互联网用户服务平台。公司始终以卓越的市场前瞻力和技术创新力推动着移动互联网领域的发展进程，致力于帮助全世界一半以上的人通过手机享受开放、便捷的互联网服务。
								</div>
							</div>
							<div class="project-content-right col-md-6">
								<div class="snap">职责</div>
								<div class="detail">
									<ul>
										<li>负责Android、IOS、WP7平台手机软件的搜集、使用测试、编辑和发布</li>
										<li>负责软件的玩机宝典、软件快迅、软件评测等资讯的编辑与更新</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end #blog-post -->

		</div>
		<!-- end #main-container -->

		<!-- JavaScript Files -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/prefixfree.min.js"></script>
		<script src="/js/vendor/jquery.validate.js"></script>
		<script src="/js/vendor/fastclick.js"></script> 
		<script src="/js/vendor/morphext.js"></script>
		<script src="/js/smoothScrolls.js"></script>
		<script src="/js/project-detail.js"></script>

	</body>
</html>